body {
    background-color: bisque;
}

#diner {
    border: double black 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;    
    height: 75%;
  }
  
header {
    font-family:cursive;
    font-size: 45pt;
    display: flex;
    justify-content: center;
}

.mealCard {
    width: 800px;
    margin-left: 100px;
    border-style: solid;
    border-width: thick;
}

.drinkCard {
    width: 600px;
    margin-left: 100px;
    border-style: solid;
    border-width: thick;
}

.itemImage {
    margin-left: 40px;
}

h1 {
    font-family: 'Lucida Sans Grande';
    font-size: 35pt;
}

#link {
    font-family: cursive;
    font-size: 20pt;
}