#diner {
    border: solid black 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;    
    height: 400px;
  }
  
header {
    font-family:cursive;
    font-size: 40pt;
    display: flex;
    justify-content: center;
}